

h1 {
color: red;
}

input {
    background-color: lightcyan;
    border: 1px solid red;    
}

.btn {
    border: 1px;
    transition: 0,8s linear;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 10px;
}

.btn1 {
    color: black;

}

.btn2{ 
    color: black;

}

.btn1:hover {
    background-color: rgb(24, 174, 24);
    
    
}
.btn2:hover {
    background-color: red;
    
}

.form-class {
    color: white;
}

p{
    color: white;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    cursor: pointer;
}

/* .menu-icon{
    width: 40px;
    cursor: pointer;
    margin: 40px;
} */

nav {
    text-align: right;
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;

}

nav ul li a {
    text-decoration: none;
    color: red;
    font-size: 25px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

